<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>link</key>
			<string>https://alienware.tmall.com/view_shop.htm?spm=a220m.1000858.0.0.ix1Qgr&amp;shop_id=127449538&amp;scm=1048.1.1.12&amp;rn=f2093e2a4e84c0c172c51e335f1c8ee7</string>
			<key>img</key>
			<string>https://gdp.alicdn.com/imgextra/i2/2510050218/TB27Srwd.lnpuFjSZFjXXXTaVXa_!!2510050218.jpg</string>
			<key>title</key>
			<string>外星人旗舰店 性能怪兽，所向披靡</string>
		</dict>
		<dict>
			<key>link</key>
			<string>https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.5.vp1dUQ&amp;id=530823599626&amp;skuId=3173632338638&amp;user_id=2782121871&amp;cat_id=2&amp;is_b=1&amp;rn=bc9b297a6b50d1f1f81a9966b28ca31e</string>
			<key>img</key>
			<string>https://img.alicdn.com/imgextra/i4/2782121871/TB2VmQqbwOI.eBjSszhXXbHvFXa_!!2782121871.jpg</string>
			<key>title</key>
			<string>MARS BY CRAZYBABY L141磁悬浮音响 疯童火星 无线蓝牙音箱重低音</string>
		</dict>
		<dict>
			<key>link</key>
			<string>https://content.tmall.com/wow/pegasus/subject/0/2187313339/7129340?spm=a220m.1000858.1000725.29.5iLjhv&amp;gccpm=13072800.300.2.subject-1001.60665&amp;wh_tailer=2&amp;tailer=2&amp;wh_header=1&amp;header=1&amp;id=7129340&amp;rn=4a8bb1d7aa40ce0c9031bdbfd6c82edc&amp;cat=56148012&amp;from=act_1_act-2-album#J_Crumb</string>
			<key>img</key>
			<string>https://img.alicdn.com/tfscom/TB1ZaVTQXXXXXcvXFXXSutbFXXX.jpg_1200x1200Q70.jpg</string>
			<key>title</key>
			<string>蚁视二代VR头盔  360度沉浸式交互体验，探索超越想象的虚拟现实！</string>
		</dict>
	</array>
	<key>msg</key>
	<string>成功</string>
	<key>code</key>
	<string>1</string>
</dict>
</plist>
