<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>link</key>
		<string>http://www.vip.com</string>
		<key>img</key>
		<string>https://raw.githubusercontent.com/devdawei/MiaoMiaoChoiceAPI/master/Classify/vip.jpg</string>
		<key>title</key>
		<string>唯品会</string>
	</dict>
	<dict>
		<key>link</key>
		<string>http://www.yhd.com</string>
		<key>img</key>
		<string>https://raw.githubusercontent.com/devdawei/MiaoMiaoChoiceAPI/master/Classify/yhd.jpg</string>
		<key>title</key>
		<string>一号店</string>
	</dict>
	<dict>
		<key>link</key>
		<string>http://www.gome.com</string>
		<key>img</key>
		<string>https://raw.githubusercontent.com/devdawei/MiaoMiaoChoiceAPI/master/Classify/gome.jpg</string>
		<key>title</key>
		<string>国美</string>
	</dict>
	<dict>
		<key>link</key>
		<string>http://www.suning.com</string>
		<key>img</key>
		<string>https://raw.githubusercontent.com/devdawei/MiaoMiaoChoiceAPI/master/Classify/suning.jpg</string>
		<key>title</key>
		<string>苏宁</string>
	</dict>
	<dict>
		<key>link</key>
		<string>http://www.jd.com</string>
		<key>img</key>
		<string>https://raw.githubusercontent.com/devdawei/MiaoMiaoChoiceAPI/master/Classify/jd.jpg</string>
		<key>title</key>
		<string>京东</string>
	</dict>
	<dict>
		<key>link</key>
		<string>http://www.tmail.com</string>
		<key>img</key>
		<string>https://raw.githubusercontent.com/devdawei/MiaoMiaoChoiceAPI/master/Classify/tmail.jpg</string>
		<key>title</key>
		<string>天猫</string>
	</dict>
</array>
</plist>
